* {
  box-sizing: border-box;
}

.service {
  color: #f36525;
  font-size: 16px;
  position: relative;
  left: 80px;
}
.service-titlle {
  font-size: 46px;
  line-height: 1.2;
  font-weight: 700;

}
.contanair-service {
  /* border: 2px solid black; */
  width: 1000px;
position: relative;
bottom: 400px;
left: 800px;

}